body {
  background-color: #e4eee9;
  background-image: linear-gradient(315deg, #e4eee9 0%, #93a5ce 74%);
  height: 100%;
}

#title {
 text-align: center;
 color: #454545;
 font-family: 'Indie Flower', cursive;
 font-size: 40px;
 margin: 0;
}

#subtitle {
  text-align: center;
  color: #454545;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 5px;
}

.wrapper {
  text-align: center;
}

#start-button {
  margin:auto;
  display:block;
  background-color: #454545;
  font-size: 20px;
  color: #EEEEEE;
  border: none;
  border-radius: 5px;
}

#main-board {
  background-color: #454545;
  width: 800px;
  margin: 1em auto;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

#deck {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding: 50px;
}

.card {
  height: 120px;
  width: 100%;
  background-color: #e4eee9;
  background-image: linear-gradient(315deg, #e4eee9 0%, #93a5ce 74%);
  list-style: none;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px rgba(95, 95, 95, 0.3);
  cursor: pointer;
  font-size: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.card p {
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
}

.card.open {
  transform: rotateY(0);
  animation-name: flipY;
  -webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
  animation-duration: .75s;
  cursor: default;
}

.card.show {
	font-size: 15px;
}

.card.show p {
  font-size: 0px;
}

.card.matched {
	cursor: default;
	background-color: #f7b42c;
  background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
	font-size: 15px;
	animation-name: rubberBand;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
}

.card.matched p {
  font-size: 0px;
}

.card.unmatched {
	animation-name: pulse;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
	background: #e2043b;
}

.card.disabled {
	pointer-events: none;
	opacity: 0.9;
}


/* i.fas,
i.fab {
  position: relative;
  top: 30%;
  left: 35%;
} */

audio {
  display: table;
  margin: 0 auto;
}

audio::-webkit-media-controls-panel {
  background-color: #93a5ce;
  /* background-color: #e4eee9; */
  /* background-image: linear-gradient(315deg, #e4eee9 0%, #93a5ce 74%); */
}
